<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Getting Started with Chart JS with www.chartjs3.com</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    .chartMenu {
      width: 100vw;
      height: 40px;
      background: #1A1A1A;
      color: rgba(255, 26, 104, 1);
    }

    .chartMenu p {
      padding: 10px;
      font-size: 20px;
    }

    .chartCard {
      width: 100vw;
      height: calc(100vh - 40px);
      background: rgba(255, 26, 104, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .chartBox {
      width: 700px;
      padding: 20px;
      border-radius: 20px;
      border: solid 3px rgba(255, 26, 104, 1);
      background: white;
    }
  </style>
</head>

<body>
  <div class="chartMenu">
    <p>WWW.CHARTJS3.COM (Chart JS 3.7.0)</p>
  </div>
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="myChart"></canvas>
      <button onclick="update()">Fetch</button>
    </div>
  </div>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const endPoint = 'http://127.0.0.1:3000/Datums/StatisticDataByDevice?DeviceSerialNumber=CA21101009-03&StartDate=2021-11-01&EndDate=2022-01-06'
    // const endPoint = `http://127.0.0.1:3000/Datums/StatisticDataByDevice?DeviceSerialNumber=${serialNumber}&StartDate=${stDate}&EndDate=${enDate}`
    function update() {
      async function FetchData() {
        const data = await fetch(endPoint, {
          method: 'GET',
          headers: { 'Authorization': 'Basic aGllbkBnbWFpbC5jb206MTIz' }
        })
        const response = await data.json()
        console.log(response)
        return response
      }
      FetchData().then(response => {
        const time = response.map(
          function (index) {
            return index.data;
          })
        const dtime = time[0].map(
          function (i) {
            return i.DateOnly
          })
          const avg = response.map(
            function (index) {
            return index.data;
          })
            const davg = time[0].map(
              function (i) {
                return (Math.round(i.AVG))
          })
          const min = response.map(
            function (index) {
            return index.data;
          })
            const dmin = time[0].map(
              function (i) {
                return (Math.round(i.MIN))
          })
        console.log(dtime)
        console.log(davg)
        console.log(dmin)
        myChart.config.data.labels = dtime;
        myChart.config.data.datasets[0].series.data = davg;
        myChart.config.data.datasets[0].series.data1 = dmin;
        myChart.update()
      })
    }
    // setup 
    const data = {
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
      datasets: [{
        label: 'Weekly Sales',
        series:[{
        data: [18, 12, 6, 9, 12, 3, 9],
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
        borderWidth: 1
      },
    // {data1: [10, 2, 8, 9, 30, 3, 9],
    //     backgroundColor: [
    //       'rgba(200, 26, 104, 0.2)',
    //       'rgba(50, 162, 235, 0.2)',
    //       'rgba(200, 206, 86, 0.2)',
    //       'rgba(70, 192, 192, 0.2)',
    //       'rgba(153, 102, 255, 0.2)',
    //       'rgba(255, 159, 64, 0.2)',
    //       'rgba(0, 0, 0, 0.2)'
    //     ],
    //     borderColor: [
    //       'rgba(255, 26, 104, 1)',
    //       'rgba(54, 162, 235, 1)',
    //       'rgba(255, 206, 86, 1)',
    //       'rgba(75, 192, 192, 1)',
    //       'rgba(153, 102, 255, 1)',
    //       'rgba(255, 159, 64, 1)',
    //       'rgba(0, 0, 0, 1)'
    //     ],
    //     borderWidth: 0.5
    //   }
    ]
    }, 
  ]
    };

    // config 
    const config = {
      type: 'line',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>

</body>

</html>